.reloj{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    color: white;
    font-size: 2rem;
    
}

.contenedor{
    display: flex;
    flex-direction: column;
    background-color: rgb(75, 160, 245);
    border-radius: 0.5rem;
    padding: 1rem 6rem ;
}

h1, h3{
    margin:0;
    font-weight: 300;
}

.hora{
    font-size: 5rem;
}
.fecha{
    font-size: 2rem;
}


