#calculadora{
    display:flex;
    flex-direction: column;
    align-items: center
}

#formulario{
    display: flex;
    font-size: 2rem;
}

legend{
    text-align: center;
}

input{
    height: 2rem;
    font-size: 1rem;
}

button{
    height: 3rem;
    width: 6rem;
    font-size: 1rem;
    background-color: rgb(5, 29, 150);
    color: white;
    border:none;
}

#resultado{
    font-size: 1.5rem;
}